// Typography
$f-serif: "Volkhov", serif;
$f-sans: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Colors
$c-white: #fff;
$c-off_white: #f6f6f6;
$c-dark_green: #05260C;
$c-forest_green: #05260C;
$c-dark_aqua: #033649;
$c-aqua: #036564;
$c-brown: #cdb380;
$c-cream: #D1C3AB;
$c-dark_cream: #87715A;
$c-dark_gray: #3d444c;
$c-main_pastel_green: #e2eae2;
$c-darker_pastel_green: #bfcebf;
$c-main_pastel_pink: #ffd9d9;

// Functional name for colors
$c-hero-bg: #eee;
