footer.main_footer
  #contact.main_footer-container
    .contact-item
      a(href="mailto:hawleykc@gmail.com")
        .icon-mail
        | hawleykc

    .contact-item
      a(href="tel:3605405218")
        .icon-phone
        | (360) 540-5218

    //- .contact-item
    //-   a(href="/resume/index.html" target="_blank")
    //-     .icon-note
    //-     | My r&eacute;sum&eacute;

    .contact-item
      a(href="http://www.linkedin.com/in/hawleykc" target="_blank")
        .icon-linkedin
        | hawleykc

    .contact-item
      a(href="https://github.com/beaksandclaws" target="_blank")
        .icon-github
        | beaksandclaws