footer.main_footer
  #contact.main_footer-container
    .contact-item
      a(href="mailto:ktjmccarthy@gmail.com")
        .icon-mail
        | ktjmccarthy

    //- .contact-item
    //-   a(href="https://www.instagram.com/katiejmccarthy/" target="_blank")
    //-     .icon-instagram
    //-     | katiejmccarthy

    .contact-item
      a(href="/files/katie-mccarthy-resume.pdf" target="_blank")
        .icon-file
        | r&eacute;sum&eacute;

    .contact-item
      a(href="http://www.linkedin.com/in/ktjmccarthy" target="_blank")
        .icon-linkedin
        | ktjmccarthy