extends ../shared/layout

block content
  section.headline
    .headline-inner
      h1.headline-description 
        | I'm Kellen Hawley.
        br
        | And I'm a web 
        em application 
        br
        | developer.


  .about-outer
    section#about.about
      section.about-intro The basics.
      section.about-description I am a full-stack web developer, with experience at non-profits, design agencies, and learning management companies. From pretty pixel-perfect websites to data-driven backend technologies dealing with 1+ million records per day, I've touched on a lot of things. I work very well with others, and program knowing that someday I (or a team member) is probably gonna have to work with my code again.


  .skills-outer
    section#skills.skills
      section.skills-intro A few things I know.
      section.skills-description
        .skills-tool
          .skills-tools-content
            h3 The Code
            ul
              li Ruby on Rails
              li Sass
              li CoffeeScript
              li HAML
              li NodeJS
              li Perl
              li PHP

        .skills-tool
          .skills-tools-content
            h3 The Storage
            ul
              li MySQL
              li Redis
              li MongoDB
              li DynamoDB
              li Amazon S3
              li Oracle
              li PostgreSQL

        .skills-tool
          .skills-tools-content
            h3 The Other
            ul
              li TDD
              li Git
              li SVN
              li Sublime Text 3
              li Apache
              li Mac OS
              li Linux (Gentoo)

  //- .work-outer
  //-   section#work.work
  //-     section.work-intro Here's some stuff I've work on.
  //-     section.work-description
  //-       .work-item
  //-         h3 FINE Design Group
  //-         p Working at a digital agency has given me more experience than I had originally anticipated. I was able to be lead front-end developer on many projects including, but not limited to, #[a(href="http://www.kimptonhotels.com" target="_blank") Kimpton Hotels], #[a(href="http://www.dcm.com" target="_blank") DCM Ventures] (this project was a back-end as well as front-end challenge for me), and #[a(href="https://www.ste-michelle.com/" target="_blank") Chateau Ste. Michelle]. I worked on a handful of internal projects, such as a repository for designs and slideshows. Working with highly talented designers was immensely useful for me as I learned pixel-perfect development as well as refining my negotiation skills when a design got a bit out of scope.
  //-         p The technologies being used are: Ruby on Rails, Sass (SCSS syntax), and jQuery. I was fortunate enough to develop a BEM-like syntax that is now being used on products called #[a(href="www.wearefine.com/mingle/talking-about-bum/" target="_blank") BUM]. I wrote up a brief description of it on the company #[a(href="www.wearefine.com/mingle/talking-about-bum/" target="_blank") blog].

  //-       .work-item
  //-         h3 PPRO Financial Ltd.
  //-         p I once lived in Munich for a few years. During that time, I worked as a freelancer at PPRO. I was responsible for a few internal applications and the major consumer-facing prepaid credit card sign-up page, #[a(href="http://www.viabuy.com/en/order-card" target="_blank") Viabuy]. I had to work with the designer, who created the marketing site, and recreate his vision into the framework we were using for the back-end engineers.
  //-         p The template engine that was being used was Mako using jQuery.

  //-       .work-item
  //-         h3 Experteer GmbH
  //-         p One client in Munich was going through a rebranding and asked me to work their #[a(href="http://eu.experteer.com/about-us/en/contact_us/index.html" target="_blank") About Us] section. This was a straight-forward project with static content. The fun was designing the UI from scratch and have it match the rebranding from the rest of the site.

  //-       .work-item
  //-         h3 CHIP Xonio Online GmbH
  //-         p Also in Munich, I was able to work as a User Experience Developer for the popular #[a(href="http://www.chip.de" target="_blank") Chip.de]. Their UI team was growing and needed freelance support. I was able to take the lead and design/implement the new #[a(href="http://suche.chip.de/?q=iphone" target="_blank") Search page]. I assisted in numerous usability tests and helped in various other places in #[a(href="http://www.chip.de" target="_blank") Chip.de].
  //-         p The template engine that was being used was Smarty using jQuery.

  //-       .work-item
  //-         h3 Innovative Interfaces, Inc.
  //-         p My professional career began as a User Interface Engineer. Mainly, I helped support the UI on the #[a(href="http://encoreforlibraries.com/" target="_blank") Encore] (a library catalog search/discovery system) product in a 3-5 person team. I became the UI Engineer lead for a product called #[a(href="http://www.iii.com/products/reporter.shtml" target="_blank") Reporter] (an internal application used by libraries to analyze statistics). As a team, we initiated the company's first usability tests on Encore, which was awesome!
  //-         p The framework that was being used was Tapestry 4.1 using Dojo. Also, the occasional splash of JSP was needed to understand some other products.



