extends ../shared/layout

block content
  section.headline
    .headline-inner
      h1.headline-description
        | I'm Katie McCarthy.
        br
        | I'm a writer, 
        em editor 
        | and
        br
        | content strategist.


  .about-outer
    section#about.about
      section.about-intro About me.
      section.about-description I've been a writer, editor and content strategist for 13 years. I began my career in editorial, and I've written extensively about beauty, health, fashion and food. I also love creating beautiful and engaging content marketing experiences.


  .skills-outer
    section#skills.skills
      section.skills-intro What I do.
      section.skills-description
        .skills-tool
          .skills-tools-content
            h3 Editorial
            | I have seven years of experience editing and 
            | managing teams at Where magazine and 
            a(href="http://www.totalbeauty.com/authors/katie-mccarthy" target="_blank") TotalBeauty.com
            | . I've contributed to 
            a(href="http://www.refinery29.com/author/katie-mccarthy" target="_blank") Refinery29.com
            | , 
            a(href="http://www.byrdie.com/author/katie-mccarthy" target="_blank") Byrdie.com
            | , Performances magazine and the Chicago Tribune's Trib magazine.

        .skills-tool
          .skills-tools-content
            h3 Branding
            | I've written and produced content experiences for global 
            | lifestyle brands such as 
            a(href="http://www.totalbeauty.com/neutrogenanaturals" target="_blank") Johnson &amp; Johnson
            | , 
            a(href="http://www.totalbeauty.com/content/series/make-color-connection-140818" target="_blank") Coty
            | , Target, 
            | Estée Lauder Companies and L'Oréal as well as 
            | boutique clients in the hospitality, entertainment 
            | and fashion industries.

        .skills-tool
          .skills-tools-content
            h3 Marketing
            | I'm also a do-it-all marketing professional for a 
            | top education technology provider. Blogging, email 
            | marketing, social media strategy, public relations 
            | and proposal writing are some of my specialties.