.headline {
  background: transparent;

  @include bp(baby-bear) {
    height: 300px;
  }

  @include bp(mama-bear) {
    height: 400px;
  }

  @include bp(papa-bear) {
    height: 600px;
  }
}

.headline-inner {
  @extend %container;
  height: 100%;
  width: 100%;
  background: transparent;
}

.headline-description {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  font-size: 2em;
  font-family: $f-serif;
  color: $c-main_pastel_pink;
  text-align: center;
  line-height: 1.5;

  @include bp(baby-bear) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  @include bp(mama-bear) {
    top: calc(50% + 25px);
    font-size: 2.5em;
  }

  @include bp(papa-bear) {
    font-size: 3em;
  }
}